<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.post.persistent.mybatis.UserMapper">
    <resultMap id="userResult" type="com.example.post.model.User">
        <constructor>
            <idArg column="account" javaType="String"/>
            <arg column="name" javaType="String"/>
        </constructor>
        <association property="userPosts" resultMap="userPosts"/>
    </resultMap>
    <resultMap id="userPosts" type="com.example.post.model.UserPosts">
        <id column="account" property="userAccount" javaType="String"/>
    </resultMap>
    <resultMap id="postResult" type="com.example.post.model.Post">
        <constructor>
            <idArg column="id" javaType="String"/>
            <arg column="title" javaType="String"/>
            <arg column="content" javaType="String"/>
            <arg column="time" javaType="java.time.Instant"/>
        </constructor>
        <result property="author" column="author" javaType="String"/>
    </resultMap>

    <insert id="insertUser">
        INSERT INTO `user`(`account`, `name`)
        VALUES(#{user.account}, #{user.name});
    </insert>
    <insert id="insertPost" useGeneratedKeys="true" keyProperty="holder.id">
        INSERT INTO `post`(`author`, `title`, `content`)
        VALUES(#{account}, #{post.title}, #{post.content});
    </insert>
    <select id="selectUser" resultMap="userResult">
        SELECT *
        FROM `user`
        WHERE `account` = #{account}
    </select>
    <select id="selectPostsByAuthor" resultMap="postResult">
        SELECT *
        FROM `post`
        WHERE `author` = #{account}
        LIMIT #{from}, #{size};
    </select>
</mapper>
